
*.idea
data/
gpgpuenv/
gpuenv/
checkpoint_2/
checkpoint_3/
output_images/
slide/
__pycache__/
# Ignore Jupyter Notebook checkpoints (if using notebooks)
.ipynb_checkpoints/

# Ignore log files and temporary files
*.log
*.tmp
*.swp
*.swo
*.jpg
*.mp4
*.pt
*.png
*.ptx
*.o
*.qsub_out
*.meta
*.raw
*.txt
*.nsys-rep
# Ignore IDE-specific files
.vscode/
.idea/
*.iml

env/
*.env
*.json
*.csv
main
adaptive_thresholding_cuda.cu
cuda_guassian_adptive.py
implementation.py
mean_based_at
mean_based_adaptive_thresholding.cu
python_guassian.py
python_implementation.py
test.py
