
*.idea
data/
gpgpuenv/
gpuenv/
__pycache__/
# Ignore Jupyter Notebook checkpoints (if using notebooks)
.ipynb_checkpoints/

# Ignore log files and temporary files
*.log
*.tmp
*.swp
*.swo
*.jpg
*.mp4
*.pt
*.png
*.ptx
*.o
# Ignore IDE-specific files
.vscode/
.idea/
*.iml

env/
*.env
*.pdf
*.json
*.csv
